In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
#Import dataset
df = pd.read_csv('charity_data.csv')

#Drop Name column
df = df.drop(columns=['NAME'], axis=1)

In [3]:
df.head()

,EIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
#Categorical variable list
df_cat = df.dtypes[df.dtypes == 'object'].index.tolist()
df[df_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [5]:
#See value counts for columns with many unique values
classification = df.CLASSIFICATION.value_counts()

#Replace counts < 200
replace_classification = list(classification[classification < 200].index)

#replace values
for item in replace_classification:
    df.CLASSIFICATION = df.CLASSIFICATION.replace(item, "Other")

df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [6]:
#See value counts for columns with many unique values
app_type = df.APPLICATION_TYPE .value_counts()

#Replace counts < 100
replace_type = list(app_type[app_type < 100].index)

#replace values
for item in replace_type:
    df.APPLICATION_TYPE = df.APPLICATION_TYPE.replace(item, "Other")

df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
df[df_cat].nunique()

APPLICATION_TYPE          10
AFFILIATION                6
CLASSIFICATION             8
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [8]:
#Encode values
enc = OneHotEncoder(sparse=False)
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

encode_df.columns = enc.get_feature_names(df_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(df_cat,1)
df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
df = df.set_index('EIN')

In [11]:
#set variables
y = df.IS_SUCCESSFUL
X = df.drop(columns=["IS_SUCCESSFUL"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  30
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 5



#Turn train/test sets into arrays
#X_train_scaled = np.asarray(X_train)
#X_test_scaled = np.asarray(X_test_scaled)
y_train = np.asarray(y_train)
y_test = np.asarray(y_test)

nn = tf.keras.models.Sequential()

In [31]:
# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5908 - accuracy: 0.7041
Epoch 2/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5555 - accuracy: 0.7292
Epoch 3/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5510 - accuracy: 0.7297
Epoch 4/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5487 - accuracy: 0.7312
Epoch 5/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5474 - accuracy: 0.7323
Epoch 6/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5468 - accuracy: 0.7337
Epoch 7/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5465 - accuracy: 0.7339
Epoch 8/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5455 - accuracy: 0.7347
Epoch 9/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5451 - accuracy: 0.7347
Epoch 10/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5447 - accuracy: 0.7361
Epoch 11/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5443 - accuracy: 0.7341
Epoch 12/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5436 - accuracy: 0.7357
Epoch 13/50
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5437 - accuracy: 0.7353
Epoch 14/50
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5431 - accuracy: 0.7360
Epoch 15/50
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5432 - accuracy: 0.7367
Epoch 16/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5426 - accuracy: 0.7357
Epoch 17/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5423 - accuracy: 0.7349
Epoch 18/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5421 - accuracy: 0.7353
Epoch 19/50
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5417 - accuracy: 0.7361
Epoch 20/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5417 - accuracy: 0.7368
Epoch 21/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5415 - accuracy: 0.7362
Epoch 22/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5414 - accuracy: 0.7353
Epoch 23/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5412 - accuracy: 0.7369
Epoch 24/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5412 - accuracy: 0.7358
Epoch 25/50
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5408 - accuracy: 0.7362
Epoch 26/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5406 - accuracy: 0.7358
Epoch 27/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5400 - accuracy: 0.7365
Epoch 28/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5401 - accuracy: 0.7371
Epoch 29/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5396 - accuracy: 0.7372
Epoch 30/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5401 - accuracy: 0.7387
Epoch 31/50
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5395 - accuracy: 0.7370
Epoch 32/50
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5397 - accuracy: 0.7380
Epoch 33/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5394 - accuracy: 0.7370
Epoch 34/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5395 - accuracy: 0.7368
Epoch 35/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5392 - accuracy: 0.7384
Epoch 36/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5391 - accuracy: 0.7381
Epoch 37/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5388 - accuracy: 0.7385
Epoch 38/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5391 - accuracy: 0.7372
Epoch 39/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5387 - accuracy: 0.7385
Epoch 40/50
25724/25724 [==============================] - 2s 84us/sample - loss: 0.5388 - accuracy: 0.7394
Epoch 41/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5382 - accuracy: 0.7387
Epoch 42/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5379 - accuracy: 0.7387
Epoch 43/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5381 - accuracy: 0.7375
Epoch 44/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5381 - accuracy: 0.7379
Epoch 45/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5382 - accuracy: 0.7380
Epoch 46/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5376 - accuracy: 0.7382
Epoch 47/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5376 - accuracy: 0.7388
Epoch 48/50
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5380 - accuracy: 0.7393
Epoch 49/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5375 - accuracy: 0.7380
Epoch 50/50
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5375 - accuracy: 0.7391
8575/1 - 1s - loss: 0.5878 - accuracy: 0.7242
Loss: 0.5561133770275394, Accuracy: 0.7241982221603394